{% extends 'base.html' %}
{% block title %}
    Home
{% endblock %}
{% block content %}
    <h1>Welcome to my blog</h1>
    <a href="{% url 'post_create' %}">Create Post</a>
    <ul>
        {% for post in object_list %}
            <li>
                <a href="{% url 'post_detail' post.id %}">
                    {{ post.title }}
                </a>
                <p>{{ post.content }}</p>
                <p>{{ post.category }}</p>
                <a class="btn btn-success" 
                   href="{% url 'post_update' post.id %}">
                    Update
                </a>
            <a href="{% url 'post_delete' post.id %}" 
               class="btn btn-danger">
                Delete
            </a>
            </li>
        {% endfor %}
    </ul>
{% endblock %}