{% extends 'base.html' %}
<script>
    var dl = document.getElementById('author');
    var el = 0;
    for (var i = 0; i < dl.options.length; i++) {
        if (dl.options[i].value == {{user.id}}) {
            el = i;
            break;
        }
    }
    dl.selectedIndex = el;
</script>
{% block title %}
    Post Create
{% endblock %}
{% block content %}
    <h1>Post Create</h1>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn btn-primary">
            Create
        </button>
    </form>
{% endblock %}

