{% extends 'base.html' %}
{% block title %}
    Create Post
{% endblock %}
<link rel="stylesheet" href="https://cdn.ckeditor.com/ckeditor5/43.1.0/ckeditor5.css" />

{% block content %}
    {% if user.is_authenticated %}
        <h1>Create Post</h1>
        <form method="post">
            {% csrf_token %}
            <p>Title: <input name="title" type="text" class="form-control"/> </p>
            <p>Content: <textarea name="content" id="content" class="form-control"></textarea></p>
            <p>Category: <select name="category_id"  class="form-control">
                {% for category in categories %}
                    <option value="{{ category.id }}">{{ category.name }}</option>
                {% endfor %}
            </select>
        </p>
            <p><input name="author_id" type="hidden" value="{{ user.id }}" ></p>
            <button type="submit" class="btn btn-primary">
                Create
            </button>
        
        <div id="editor">
            <p>Hello from CKEditor 5!</p>
        </div>

        <script type="importmap">
            {
                "imports": {
                    "ckeditor5": "https://cdn.ckeditor.com/ckeditor5/43.1.0/ckeditor5.js",
                    "ckeditor5/": "https://cdn.ckeditor.com/ckeditor5/43.1.0/"
                }
            }
        </script>

        <script type="module">
            import {
                ClassicEditor,
                Essentials,
                Bold,
                Italic,
                Font,
                Paragraph
            } from 'ckeditor5';

            ClassicEditor
                .create( document.querySelector( '#editor' ), {
                    plugins: [ Essentials, Bold, Italic, Font, Paragraph ],
                    toolbar: {
                        items: [
                            'undo', 'redo', '|', 'bold', 'italic', '|',
                            'fontSize', 'fontFamily', 'fontColor', 'fontBackgroundColor'
                        ]
                    }
                } )
                .then( /* ... */ )
                .catch( /* ... */ );
        </script>
        </form>

    {% else %}
        Login to create post
    {% endif %}
{% endblock %}
<script>
    CKEDITOR.replace('content');
</script>